h1, h2, h3, h4, h5, h6,
body, header {
    font-family: "Linux Biolinum", sans-serif;
}
section {
    font-family: "Linux Libertine", serif;
}
body {
    background: black;
    color: white;
}
footer {
    color: #93a1a1;
}
a, a:hover {
    color: #268bd2;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    background-image: linear-gradient(#268bd2, #268bd2);
    background-size: 1px 1px;
    background-repeat: repeat-x;
    background-position: 0% 95%;
}
a:hover {
    color: #2aa198;
    background-image: linear-gradient(#2aa198, #2aa198);
}
.presenter_notes a, .presenter_notes a:hover,
div#current_presenter_notes a, div#current_presenter_notes a:hover {
}
code, tt.docutils.literal {
    color: #6c71c4;
}
.slide {
    background-color: #ffffff;
    color: #000000;
}
.expose .slide:hover {
    box-shadow: 0 0 0 15px #268bd2;
}
.expose .slide.current {
    box-shadow: 0 0 0 30px #b58900;
}
.expose .slide.current:hover {
    box-shadow: 0 0 0 15px #268bd2, 0 0 0 30px #b58900;
}
.presenter_notes {
    background: #000000;
    color: #ffffff;
}
@media screen, projection {
    ::-webkit-scrollbar-thumb {
        background: #ffffff;
        border-color: #eee8d5;
    }
    ::-webkit-scrollbar {
        background: #eee8d5;
    }
    ::-webkit-scrollbar-corner {
        background: #ffffff;
    }
}
.qr svg {
    box-shadow: inset 0 0 10px #eee8d5;
}
.slides, .expose .slides.nocontext,
.expose .slide.current,
.expose .slide.current .inner {
    /*background: #000;*/
}

.slide {
    width: 1333px;
}
.slide header:only-child h1 {
    width: 1333px;
}
@media screen {
    .slide {
        margin-left: -667px;
    }
    .slide.next {
        margin-left: 677px;
    }
    .slide.next_2 {
        margin-left: 1368px;
    }
    .slide.next_1 {
        margin-left: 2020px;
    }
    .show_next .slide.prev {
        margin-left: -2681px;
    }
    .show_next .slide.current {
        margin-left: -1338px;
    }
    .show_next .slide.next {
        margin-left: 5px;
    }
    .show_next .slide.next_1 {
        margin-left: 1348px;
    }
    .presenter_view .slide.prev {
        margin-left: -1348px;
    }
    .presenter_view .slide.current {
        margin-left: -667px;
    }
    .presenter_view .slide.next_1 {
        margin-left: 692px;
    }
    .expose .slide-wrapper {
        width: 414px;
    }
}

@media print {
    #toc,
    #help,
    .slide aside,
    .slide .notes,
    .presenter_notes,
    #current_presenter_notes,
    #presenter_note {
        display: none;
    }

    aside.page_number {
        display: block;
    }

    @page {
        margin: 0;
        size: 1365px 781px;
    }

    .slide,
    .slide.current,
    .slides,
    body,
    .presentation {
        position: relative;
        margin: 0;
        box-shadow: none !important;
    }

    .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    section {
        position: relative;
        padding-top: 3em;
    }

    section p {
        margin: 1em;
    }
        
    .slide {
        margin: 0 !important;
        page-break-after: avoid;
    }

    .slide-wrapper {
        page-break-after: always;
        position: relative;
        margin: 0;
        padding: 15px;
    }

    * {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}
